/* Conteúdo principal */
.conteudo-principal {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.secao-introducao {
	width: 48%;
}

.titulo-sec-introducao {
	font-size: 2.8rem;
	margin-bottom: 1.5rem;
}

.txt-sec-introducao {
	font-size: 1.5rem;
	margin-bottom: 1.5rem;
}

.area-botoes-sec-introducao {
	display: flex;
	gap: 1rem;
}

.botao-sec-introducao {
	font-size: 1.1rem;
	text-decoration: none;
	color: #fff;
	background-color: #c84755;
	padding: 1rem 1.2rem;
	border: 2px solid transparent;
	border-radius: .7rem;
	transition: .5s;
}

.botao-sec-introducao:hover {
	color: #c84755;
	background-color: transparent;
	border-color: #c84755;
}

.area-imagem-destaque {
	text-align: center;
	width: 48%;
}

.imagem-destaque {
	display: inline-block;
}

.link-creditos-imagem-destaque {
	text-decoration: none;
	color: #c84755;
}

.link-creditos-imagem-destaque:hover {
	text-decoration: underline;
}

/* Responsividade */

/*
	Dispositivos extrapequenos e pequenos (celulares (pequenos e grandes), tablets em modo retrato,
	600px e abaixo/600px e acima)
*/
@media only screen and (max-width: 600px),
(min-width: 600px) {
	.conteudo-principal {
		flex-direction: column;
		gap: 1.5rem;
	}

	.secao-introducao {
		text-align: center;
	}

	.area-botoes-sec-introducao {
		justify-content: center;
	}
}

/* Dispositivos extrapequenos (celulares pequenos, 600px e abaixo) */
@media only screen and (max-width: 600px) {
	.secao-introducao {
		width: 100%;
	}

	.area-imagem-destaque {
		width: 100%;
	}
}

/* Dispositivos pequenos (celulares grandes e tablets em modo retrato, 600px e acima) */
@media only screen and (min-width: 600px) {
	.secao-introducao {
		width: 70%;
	}

	.area-imagem-destaque {
		width: 70%;
	}
}

/* Dispositivos médios (tablets em modo paisagem, 768px e acima) */
@media only screen and (min-width: 768px) {
	.secao-introducao {
		width: 60%;
	}

	.area-imagem-destaque {
		width: 60%;
	}
}

/* Dispositivos grandes (notebooks e desktops, 992px e acima) */
@media only screen and (min-width: 992px) {
	.conteudo-principal {
		flex-direction: row;
		gap: 0;
	}

	.secao-introducao {
		text-align: left;
		width: 48%;
	}

	.area-botoes-sec-introducao {
		justify-content: normal;
	}

	.area-imagem-destaque {
		width: 48%;
	}
}