/* Fonte personalizada (Google Fonts) */
@import url("https://fonts.googleapis.com/css2?family=Salsa&display=swap");

/* Ícones (Bootstrap Icons) */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* Geral */
* {
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
	border: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	color: #333;
	background-color: #f0f0f0;
}

/* Cabeçalho */
.cabecalho {
	text-align: center;
	max-width: 90%;
	padding: 4rem 0;
	margin: 0 auto;
}

.imagem-logo {
	display: inline-block;
	width: 8rem;
	margin-bottom: 1.5rem;
}

.titulo-principal {
	font-family: "Salsa", cursive;
}

/* Barra de navegação */
#barraNav {
	display: flex;
	justify-content: center;
	position: sticky;
	top: 0;
	background-color: #c84755;
}

.area-links-nav {
	display: flex;
}

.link-nav {
	font-size: 1.1rem;
	text-decoration: none;
	color: #fff;
	padding: 1.3rem 1.2rem;
	transition: .5s;
}

.link-nav:hover {
	background-color: #a43f4a;
}

.area-botao-menu {
	display: none;
}

/* Conteúdo principal */
.conteudo-principal {
	max-width: 90%;
	min-height: 50vh;
	padding-top: 4rem;
	margin: 0 auto;
}

/* Rodapé */
.rodape {
	text-align: center;
	max-width: 90%;
	padding: 4rem 0;
	margin: 0 auto;
}

.creditos-desenvolvedor {
	font-style: italic;
}

.link-creditos-desenvolvedor {
	text-decoration: none;
	color: #c84755;
}

.link-creditos-desenvolvedor:hover {
	text-decoration: underline;
}

/* Responsividade */

/* 
	Dispositivos extrapequenos e pequenos (celulares (pequenos e grandes), tablets em modo retrato,
	600px e abaixo/600px e acima)
*/
@media only screen and (max-width: 600px),
(min-width: 600px) {	
	#barraNav.responsiva {
		justify-content: normal;
		flex-direction: column-reverse;
	}

	#barraNav.responsiva .area-links-nav {
		display: flex;
		flex-direction: column;
		text-align: center;
		background-color: #a43f4a;
	}

	.area-links-nav {
		display: none;
	}

	.area-botao-menu {
		display: block;
		align-self: center;
	}

	#botaoMenu {
		display: block;
		font-size: 1.8rem;
		color: #fff;
		padding: .8rem;
	}
}

/* Dispositivos extrapequenos (celulares pequenos, 600px e abaixo) */
@media only screen and (max-width: 600px) {
	html {
		font-size: 14px;
	}
}

/* Dispositivos pequenos (celulares grandes e tablets em modo retrato, 600px e acima) */
@media only screen and (min-width: 600px) {
	html {
		font-size: 15px;
	}
}

/* Dispositivos grandes (notebooks e desktops, 992px e acima) */
@media only screen and (min-width: 992px) {
	html {
		font-size: initial;
	}

	#barraNav.responsiva {
		flex-direction: row;
		justify-content: center;
	}

	#barraNav.responsiva .area-links-nav {
		flex-direction: row;
		text-align: left;
		background-color: transparent;
	}

	.area-links-nav {
		display: flex;
	}

	.area-botao-menu {
		display: none;
	}
}